body {
  height: 2000px;
}
.test {
  position: fixed;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background: url('https://images.theconversation.com/files/283650/original/file-20190711-173325-1oj4n2t.jpg') center;
  background-size: cover;

}

.kubik{
  width: 300px;
  height: 300px;
  margin-top: 220px;
  background:  pink;
  position: fixed;
  display: inline-block;
  border: 1px;
}
